@font-face {
	font-family: 'Palatino';
	src: url('palr45w.ttf') format('truetype');	
}

.title {
	background-color:#000099;
	color:#FFCC00;
	padding:10px;
	text-decoration:none;
	font-family:'Palatino';
	
}
.main {
	background-color:#FFFFFF;
	color:#000000;
	text-decoration:none;
	font-family:'Palatino';
	
}



}

a:link {
	color:#FFCC00;
	text-decoration:none;
}

a:visited {
	color:#FFCC00;
	text-decoration:none;
}

a:hover {
	color:#FFFF00;
	text-decoration:none;
}

a:active{
	color:#FFFFFF;
	text-decoration:none;
}

*/